VITE_SITE_NAME=Your Florist Name
VITE_SITE_URL=https://yourdomain.com
VITE_SITE_TAGLINE=Your Tagline
VITE_SITE_DESCRIPTION=A short description of your florist business.

VITE_BUSINESS_ADDRESS=Street, City
VITE_BUSINESS_PHONE=(000) 000-0000
VITE_BUSINESS_PHONE_E164=+10000000000
VITE_BUSINESS_EMAIL=hello@yourdomain.com
VITE_BUSINESS_HOURS=Mo-Sa 09:00-18:00
VITE_BUSINESS_PRICE_RANGE="$$"
